################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/BoundedContext/.vs/BoundedContext/v15
/Source/BoundedContext/BoundedContext.Application/obj
/Source/BoundedContext/BoundedContext.Application/bin/Debug/netstandard2.0
/Source/BoundedContext/BoundedContext.Composition/obj
/Source/BoundedContext/BoundedContext.Composition/bin/Debug/netstandard2.0
/Source/BoundedContext/BoundedContext.Contracts/obj
/Source/BoundedContext/BoundedContext.Contracts/bin/Debug/netstandard2.0
/Source/BoundedContext/BoundedContext.sln.DotSettings.user
/Source/BoundedContext/BoundedContext.Domain/obj
/Source/BoundedContext/BoundedContext.Domain/bin/Debug/netstandard2.0
/Source/BoundedContext/BoundedContext.Query/bin/Debug/netstandard2.0
/Source/BoundedContext/BoundedContext.Query/obj
/Source/BoundedContext/BoundedContext.Query.Repository.Dummy/obj
/Source/BoundedContext/BoundedContext.Query.Repository.Dummy/bin/Debug/netcoreapp2.1
/Source/BoundedContext/BoundedContext.Query.Repository.Entityframework/obj
/Source/BoundedContext/BoundedContext.Query.Repository.Entityframework/bin/Debug/netstandard2.0
/Source/BoundedContext/BoundedContext.Repository.Dummy/obj
/Source/BoundedContext/BoundedContext.Repository.Dummy/bin/Debug/netcoreapp2.1
/Source/BoundedContext/BoundedContext.Repository.Entityframework/bin/Debug/netstandard2.0
/Source/BoundedContext/BoundedContext.Repository.Entityframework/obj
/Source/BoundedContext/BoundedContext.Services.Acls/bin/Debug/netstandard2.0
/Source/BoundedContext/BoundedContext.Services.Acls/obj
/Source/BoundedContext/BoundedContext.Tests.Unit/obj
/Source/BoundedContext/BoundedContext.Tests.Unit/bin/Debug/netcoreapp2.1
/Source/BoundedContext/packages
/Source/BoundedContext/BoundedContext.Tests.Unit/bin/Release/netcoreapp2.1
/Source/BoundedContext/BoundedContext.Services.Acls/bin/Release/netstandard2.0
/Source/BoundedContext/BoundedContext.Repository.Entityframework/bin/Release/netstandard2.0
/Source/BoundedContext/BoundedContext.Repository.Dummy/bin/Release/netcoreapp2.1
/Source/BoundedContext/BoundedContext.Query.Repository.Entityframework/bin/Release/netstandard2.0
/Source/BoundedContext/BoundedContext.Query.Repository.Dummy/bin/Release/netcoreapp2.1
/Source/BoundedContext/BoundedContext.Query/bin/Release/netstandard2.0
/Source/BoundedContext/BoundedContext.Domain/bin/Release/netstandard2.0
/Source/BoundedContext/BoundedContext.Contracts/bin/Release/netstandard2.0
/Source/BoundedContext/BoundedContext.Composition/bin/Release/netstandard2.0
/Source/BoundedContext/BoundedContext.Application/bin/Release/netstandard2.0
